/* Global styles */
.App {
  height: 100%;
}
:root {
  --default-background: #000;
  --shadow: rgba(0, 0, 0, 0.2);
  --nav-hover-color: red;
}

.center {
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
}
a {
  text-decoration: none;
  color: var(--default-background);
}
a:hover {
  color: var(--nav-hover-color);
}
.right-padding {
  padding-right: 20px;
}
.top-padding {
  padding-top: 20px;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px 0 var(--shadow);
  padding-bottom: 20px;
  top: 0;
  width: 100%;
}

/* stock */
.stock {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 0 5em;
}

/* Grid styles */
.grid-style {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: rgb(39, 39, 39);
  color: white;
  justify-content: space-evenly;
  align-items: first baseline;
  margin: 2rem 0 0 0;
}
.grid-custom{
  padding-left: -20rem;
  /* margin: 1rem 0 0 0; */
}