/* Global styles */

.App {
  height: 100%;
}
:root {
  --default-background: #000;
  --shadow: rgba(0, 0, 0, 0.2);
  --nav-hover-color: red;
}
button,
input {
  /* outline: none; */
  border-radius: 4px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--default-background);
}
a:hover {
  color: var(--nav-hover-color);
}
.right-padding {
  padding-right: 20px;
}
.top-padding {
  padding-top: 20px;
}

/* fetchedData */
.fetchedData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.fetchedData-data {
  border: 1px solid black;
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 8px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 var(--shadow);
  cursor: pointer;
  transition: transform 0.5s;
}
.fetchedData-data:hover,
.buy-button:hover {
  transform: scale(1.1);
}
.fetchedData-image {
  width: 80%;
  background-color: blue;
  position: inherit;
  /* padding: 2.5em; */
  padding-top: -15px;
  border-radius: 4px;
}
/* .buy-button:hover{
  transform: scale(1.1);
} */

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px 0 var(--shadow);
  padding-bottom: 20px;
  top: 0;
  width: 100%;
}

/* stock */
.stock {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 0 5em;
}

/* Grid styles */
.grid-style {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: rgb(39, 39, 39);
  color: white;
  justify-content: space-evenly;
  align-items: first baseline;
  margin: 2rem 0 0 0;
}
.grid-custom {
  padding-left: -20rem;
  /* margin: 1rem 0 0 0; */
}

/* Sign up form */
.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  align-items: center;
  margin-top: 2rem;
}
.signUpContainer h1 {
  margin: 2rem 0;
}

form {
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUpContainer form > div {
  margin: 0.5px 0rem;
}
.signUpContainer form input,
.loginNav {
  padding: 1em 15em;
  margin: 0.5rem 0;
}
.loginNav {
  width: 580px;
  font-size: large;
  background-color: blue;
  color: white;
  outline: none;
}
.loginNav:hover {
  background-color: white;
  color: blue;
  font-weight: bolder;
  border: 1.8px solid blue;
}

/* dashboard */
.dashboard {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.dashboard-button {
  background: gray;
  color: white;
  padding: 10px 80px;
}
.dashboard-button:hover {
  color: white;
  background: black;
}
.first-dashboard {
  border-right: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-dashboard-child {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
  margin-top: 2rem;
}

.first-dashboard-second {
  margin: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.second-dashboard {
  padding: 0 0 0 1rem;
  flex-grow: 1;
  position: "absolute";
}

/* createCar */
.createCar {
  display: flex;
  flex-direction: column;
}
.createCar > input {
  border: 1px solid black;
  padding: 12px 20px;
  background-color: black;
  border-radius: 6px;
}

/* Car Details */

.car-details-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.car-details-container:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.car-details-info {
  color: #333;
}

.car-details-info h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.car-details-info h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.car-details-info p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
